./data/
/data/MS_NAIP_2023
/data/sampling/NLCD
/data/sampling/._tvt_centroids.gpkg
/data/sampling/._cb_2023_28_bg_500k
*.pyc
*.aux.xml
*.pyc
*.DS_Store
data/splits/pretrain/*
data/splits/pretrain_val/*
data/sampling/grid_counts.pkl
data/sampling/histogram_vectors.npy
*.gpkg-shm
*.gpkg-wal
/data/splits/pretrain_val.tar
/data/splits/pretrain_val.zip
data/png_images
data/splits/test/clusters
data/splits/train/clusters
data/splits/val/clusters
data/splits/val/masks
data/splits/train/masks
data/splits/test/masks
data/splits/pretrain/masks