./data/
/data/MS_NAIP_2023
/data/sampling/NLCD
/data/sampling/._tvt_centroids.gpkg
/data/sampling/._cb_2023_28_bg_500k
*.pyc
*.aux.xml
*.pyc
*.DS_Store
data/splits/pretrain/*
data/splits/pretrain_val/*
data/sampling/grid_counts.pkl
data/sampling/histogram_vectors.npy
*.gpkg-shm
*.gpkg-wal
/data/splits/pretrain_val.tar
/data/splits/pretrain_val.zip
data/png_images
data/splits/test/clusters
data/splits/train/clusters
data/splits/val/clusters
data/splits/val/masks
data/splits/train/masks
data/splits/test/masks
data/splits/pretrain/masks
weights
old_notebooks

*.pth
logs
/data/splits/pretrain.hdf5
/weights_old
pretrain.hdf5
/hrnet_w18_dae_hsv_simclr_umap2.png
/hrnet_w18_imagenet_umap2.png
/data/hrnet_w18_deep_features.hdf5
data/cpb_tests/naip_resampled.tif
data/cpb_tests/landcover_aligned.tif
data/cpb_tests/va_lc_2018_2022-Edition
data/cpb_tests/splits
data/cpb_tests/ortho_1-1_hc_s_va059_2018_1
data/cpb_tests/splits_bak
data/inference_results
/data/NAIP_MS_2023
data/landsat_examples
/data/resnet_152_deep_features.hdf5.bak
/data/resnet_152_deep_features.hdf5
logs_20250106/pretrain
logs_20250108/pretrain
data/NAIP_MS/ms_c.zip
data/NAIP_MS
/temp_reprojected.tif
/data/postprocessing_trials

# LaTeX
# *.tex
*.bbl
*.blg
*.synctex
*.synctex.gz
*.aux
*.nav
*.snm